body{
    margin: 0%;
    padding: 0%;
    background-image: url(blanca.jpg);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}

a{

    color:rgb(250, 77, 34) ;
}
div.column{

    padding: 10px;
    border-width: 10px;
    border-color:rgb(250, 77, 34);
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-style: solid;
}
.letarr{
    color:rgb(163, 46, 0);
        font-size: 34px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        width: 650px;
        background-color: rgb(236, 235, 235);
        height: 170px;
        position: relative;
        top: 40px;
        left: 26%;
        border-width: 8px;
        border-style: solid;
        border-color:rgb(250, 77, 34);
        text-align: center;
    }
    .sociales{

        margin: 0;
        padding:0;
        width:400px;
        height: 250;
        position:relative;
     top: 150px;
        bottom: 0%;
        left:0%;
        right: 2px;
        border-width: 5px;  
        border-style: solid;
        border-color: rgb(250, 77, 34);
        text-align: center;
        font-size: 15px;
    }
    .sociales2{

        margin: 0;
        padding:0;
        width: 400px;
        height: 250;
        position:relative;
     top: 150px;
        bottom: 0%;
        left:4%;
        right: 2px;
        border-width: 5px;  
        border-style: solid;
        border-color: rgb(250, 77, 34);
        text-align: center;
        font-size: 15px;
    }
    .sociales3{

        margin: 0;
        padding:0;
        width: 400px;
        height: 250;
        position:relative;
     top: 150px;
        bottom: 0%;
        left:10%;
        right: 2px;
        border-width: 5px;  
        border-style: solid;
        border-color: rgb(250, 77, 34);
        text-align: center;
        font-size: 15px;
    }
    footer{
        width: 1350px;
        background:black;
        margin: 0;
        border-radius: 0 0 -10px -10px;
        color: white;
        text-align: center;
        font-family: Georgia, 'Times New Roman', Times, serif;
        padding: 30px;
        box-sizing: border-box;
        position: relative;
        top: 235px;
        bottom: 0%;
        left:0%;
        right: 0px;
    
    }
    